@import url(./_cdn.scss);
@import url(./steper.scss);
@import url(./singUp.scss);


* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}

html {
    font-family: 'Open Sans', 'Montserrat', sans-serif;
}

button {
    cursor: pointer;
    border: none;
}